
/* Base styles */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-bg-base);
}

button,
input,
select,
textarea {
    font-family: inherit;
}
