<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('PetCare | Book An Appointment', '/css/pages/appointments.css', null)}"></head>

<body class="pc-page pc-appointment">

<main class="pc-appointment__main">

    <div class="pc-appointment__wrapper">
        <h1 class="pc-appointment__page-title">Book An Appointment:</h1>

        <div class="pc-appointment__ears-illustration">
            <img th:src="@{/css/assets/brand/petcare_ears.svg}" alt="Ears Illustration">
        </div>

        <section class="pc-appointment__card">
            <div class="pc-appointment__content">
                <!-- Owner info -->
                <p class="pc-appointment__owner"
                    th:if="${owner != null}"
                    th:text="'Owner: ' + ${owner.fullName}">
                    Owner info
                </p>

                <form class="pc-appointment__form" th:action="@{/appointments}" th:object="${appointment}" method="post">
                    <!-- text fields -->
                    <div class="pc-appointment__fields">

                        <div th:replace="~{fragments/components/field-select :: fieldSelect('Pet', 'petId', 'Choose your pet', ~{::petOptions})}">
                            <th:block th:fragment="petOptions">
                                <option th:each="p : ${pets}"
                                        th:value="${p.id}"
                                        th:text="${p.name}">
                                </option>
                            </th:block>
                        </div>

                        <div th:replace="~{fragments/components/field-input :: fieldInput(
                            'Start', 'start', 'datetime-local', 'Select date & time', false, true
                        )}"></div>

                        <div th:replace="~{fragments/components/field-select :: fieldSelect('Vet', 'vetId', 'Choose your vet', ~{::vetOptions})}">
                            <th:block th:fragment="vetOptions">
                                <option th:each="v : ${vets}"
                                        th:value="${v.id}"
                                        th:text="${v.fullName} + ' (ID: ' + ${v.id} + ')'">
                                </option>
                            </th:block>
                        </div>

                        <div th:replace="~{fragments/components/field-select :: fieldSelect('What’s this appointment for?', 'reason', 'Enter reason for appointment', ~{::reasonOptions})}">
                            <th:block th:fragment="reasonOptions">
                                <option th:each="r : ${reasons}"
                                        th:value="${r}"
                                        th:text="${r.label}">
                                </option>
                            </th:block>
                        </div>
                    </div>

                    <!-- Μηνύματα status -->
                    <div class="pc-appointment__status">
                        <div th:if="${successMessage}">
                            <div th:replace="fragments/components/status :: status(
                                ${successMessage},
                                'success'
                            )"></div>
                        </div>

                        <div th:if="${errorMessage}">
                            <div th:replace="fragments/components/status :: status(
                                ${errorMessage},
                                'error'
                            )"></div>
                        </div>
                    </div>

                    <div class="pc-appointment__actions">
                        <div th:replace="~{fragments/components/button :: button('Back to pets', 'secondary', false, @{/pets})}"></div>

                        <div th:replace="~{fragments/components/button :: button('Book Now!', 'primary', true, null)}"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

<!-- Logo κάτω δεξιά -->
<div class="pc-appointment__logo">
    <img th:src="@{/css/assets/brand/petcare_logo_horizontal.svg}" alt="PetCare logo">
</div>

</body>
</html>
