<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('PetCare | My-Appointments', null, null)}"></head>

<body class="pc-page pc-myappointments">

<h1 th:text="'Τα ραντεβού μου (Owner) για ' + ${owner.fullName}"></h1>
<p th:text="'Owner ID: ' + ${owner.id}"></p>

<div style="margin: 12px 0;">
    <a th:href="@{/pets}">
        <button type="button">Back to My Pets</button>
    </a>
</div>

<div style="margin-top: 12px;">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<div th:if="${#lists.isEmpty(appointments)}">
    <p>You don’t have any appointments.</p>
</div>

<div th:if="${!#lists.isEmpty(appointments)}">
    <th:block th:replace="~{fragments/components/table-card :: tableCard(
        'My Appointments',
        ~{fragments/tables/owner-appointments-table :: headers},
        ~{fragments/tables/owner-appointments-table :: rows(appointments=${appointments})}
    )}"/>
</div>

</body>
</html>
