<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('PetCare | My-Pets', '/css/pages/pets.css', null)}"></head>

<body class="pc-page pc-pets">

<div class="pc-pets__topbar">

    <!-- LEFT: logout (arrow + name) -->
    <form th:action="@{/logout}" method="post" class="pc-pets__logout">
        <button type="submit" aria-label="Logout">
            <img class="pc-pets__logout-icon"
                 th:src="@{/css/assets/icons/logout.svg}"
                 alt="">
        </button>

        <span class="pc-pets__user-name"
              th:text="${fullName}">
            User
        </span>

    </form>

    <!-- RIGHT: only logo-->
    <div class="pc-pets__brand">
        <img class="pc-pets__logo"
             th:src="@{/css/assets/brand/petcare_logo_horizontal.svg}"
             alt="PetCare">
    </div>
</div>

<main class="pc-pets__main">
    <div class="pc-pets__container" th:with="emptyMsg=|You havent registered any pets yet.|">

        <div class="pc-pets__actions">
            <div th:replace="~{fragments/components/button :: button('My appointments', 'secondary', false, @{/appointments/owners})}"></div>
            <div th:replace="~{fragments/components/button :: button('Book an appointment', 'secondary', false, @{/appointments})}"></div>
            <div th:replace="~{fragments/components/button :: button('Add New Pet', 'primary', false, @{/pets/new})}"></div>
        </div>

        <th:block th:replace="~{fragments/components/table-card :: tableCard(
            'My Pets:',
            ~{fragments/tables/pets-table :: headers},
            ~{fragments/tables/pets-rows-or-empty :: rowsOrEmpty(pets=${pets}, emptyMessage=${emptyMsg})}
        )}"/>

    </div>
</main>
</body>
</html>
