<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('PetCare | My-Pets', null, null)}"></head>

<body class="pc-page pc-pets">

<h1>My Pets</h1>

<div>
    <a th:href="@{/pets/new}">Add New Pet</a>
    <a th:href="@{/appointments}">Book Appointment</a>
    <a th:href="@{/appointments/owners}">
        <button type="button">Δες όλα τα ραντεβού σου</button>
    </a>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
</div>

<div th:if="${#lists.isEmpty(pets)}">
    <p>You haven’t registered any pets.</p>
</div>

<div th:if="${!#lists.isEmpty(pets)}">
    <th:block th:replace="~{fragments/components/table-card :: tableCard(
        'My Pets:',
        ~{fragments/tables/pets-table :: headers},
        ~{fragments/tables/pets-table :: rows(pets=${pets})}
    )}"/>
</div>

<div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>
