<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('PetCare | Vet All Appointments', null, null)}"></head>

<body class="pc-page pc-page--light pc-vet-all-appointments">

<h1 th:text="'Όλα τα ραντεβού για ' + ${vet.fullName}"></h1>
<p th:text="'Vet ID: ' + ${vet.id}"></p>

<div th:if="${#lists.isEmpty(appointments)}">
    <p>Δεν υπάρχουν ραντεβού.</p>
</div>

<div style="margin: 12px 0;">
    <a th:href="@{/vet/appointments}">
        <button type="button">Δες μόνο Pending ραντεβού</button>
    </a>

    <a th:href="@{/vet/appointments/confirmed}">
        <button type="button">Confirmed ραντεβού</button>
    </a>

    <a th:href="@{/vet/appointments/cancelled}">
        <button type="button">Cancelled ραντεβού</button>
    </a>

    <a th:href="@{/vet/appointments/completed}">
        <button type="button">Completed ραντεβού</button>
    </a>
</div>



<div th:if="${#lists.isEmpty(appointments)}">
    <p>No appointments assigned.</p>
</div>

<div th:if="${!#lists.isEmpty(appointments)}">
    <th:block th:replace="~{fragments/components/table-card :: tableCard(
        'Appointments',
        ~{fragments/tables/vet-appointments-notes-table :: headers},
        ~{fragments/tables/vet-appointments-notes-table :: rows(appointments=${appointments})}
    )}"/>
</div>

<div style="margin-top: 12px;">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>
