
/* Button component */

.pc-btn {
    /* adjust button size to text */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: none;

    border-radius: 9px;
    padding: 7px 47px;

    font-size: 36px;
    line-height: 1;
    letter-spacing: 0;

    cursor: pointer;
    user-select: none;
    text-decoration: none;

    color: var(--color-text-inverse);
    background-color: var(--color-accent);

    transition:
        background-color 0.15s ease-out,
        transform 0.12s ease-out;
}

/* Primary (orange) */
.pc-btn--primary {
    background-color: var(--color-accent);
}

.pc-btn--primary:hover {
    background-color: var(--color-accent-dark);
    transform: translateY(-2px);
}

.pc-btn--primary:active {
    transform: translateY(1px);
}

/* Primary inverse */
.pc-btn--primary-inverse {
    color: var(--color-bg-surface);
    background-color: var(--color-link-default);
    font-size: 25px;
    padding: 7px 35px;
}

.pc-btn--primary-inverse:hover {
    color: var(--color-text-inverse);
    background-color: var(--color-accent-dark);
    transform: translateY(-2px);
}

.pc-btn--primary-inverse:active {
    transform: translateY(1px);
}

/* Secondary (blue) */
.pc-btn--secondary {
    background-color: var(--color-primary);
}

.pc-btn--secondary:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-2px);
}

.pc-btn--secondary:active {
    transform: translateY(1px);
}

/* secondary inverse */
.pc-btn--secondary-inverse {
    color: var(--color-bg-surface);
    background-color: var(--color-link-default);
    font-size: 25px;
    padding: 7px 35px;
}

.pc-btn--secondary-inverse:hover {
    color: var(--color-text-inverse);
    background-color: var(--color-primary-dark);
    transform: translateY(-2px);
}

.pc-btn--secondary-inverse:active {
    transform: translateY(1px);
}
