.pc-select {
    width: 434px;
    border: none;
    outline: none;

    border-radius: 9px;
    background-color: var(--color-bg-input);

    font-size: 24px;
    line-height: 1.2;

    padding: 14px 18px;
    color: var(--color-text-secondary);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.pc-select option[disabled] {
    color: var(--color-text-muted);
}

