<th:div xmlns:th="http://www.thymeleaf.org"
          th:fragment="button(text, variant, isSubmit, href)">

    <button th:unless="${href != null}"
            th:type="${isSubmit} ? 'submit' : 'button'"
            class="pc-btn"
            th:classappend="${variant != null ? ' pc-btn--' + variant : ''}">
        <span th:text="${text}">Button</span>
    </button>

    <!-- optional link button -->
    <a th:if="${href != null}"
       th:href="${href}"
       class="pc-btn"
       th:classappend="${variant != null ? ' pc-btn--' + variant : ''}">
        <span th:text="${text}">Button</span>
    </a>
</th:div>
