<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="fieldInput(label, name, type, placeholder, hasIcon, required)"
     class="pc-field">

    <label class="pc-field__label"
           th:for="${name}"
           th:text="${label}">
        Label
    </label>

    <div class="pc-field__control">

        <input class="pc-input"
               th:classappend="${hasIcon} ? ' pc-input--with-icon' : ''"
               th:id="${name}"
               th:field="*{__${name}__}"
               th:type="${type}"
               th:placeholder="${placeholder}"
               th:attr="data-pc-password=${hasIcon} ? 'true' : null,
                        required=${required} ? 'required' : null" />

        <button th:if="${hasIcon}"
                type="button"
                class="pc-field__icon-btn js-pc-toggle-password"
                aria-label="Show Password"
                th:attr="data-eye=@{/css/assets/icons/Eye.svg},
                         data-eye-off=@{/css/assets/icons/Eye_off.svg}">
            <img class="pc-field__icon"
                 th:src="@{/css/assets/icons/Eye_off.svg}"
                 alt="">
        </button>

    </div>
</div>
