<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="rowsOrEmpty(pets, emptyMessage)">

    <!-- EMPTY -->
    <th:block th:if="${pets == null or pets.isEmpty()}">
        <th:block th:replace="~{fragments/tables/empty-row :: emptyRow(colspan=5, message=${emptyMessage})}"></th:block>
    </th:block>

    <!-- ROWS -->
    <th:block th:if="${pets != null and !pets.isEmpty()}">
        <th:block th:replace="~{fragments/tables/pets-table :: rows(pets=${pets})}"></th:block>
    </th:block>

</th:block>

</body>
</html>
